.xterm {
  @apply h-full w-full;

  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.search-bar-wrapper {
  @apply absolute right-4 top-4 z-10 flex rounded-lg bg-gray-200 dark:bg-dark-100;
  @apply hidden transition-all;
  @apply text-dark-800 dark:text-light-300;
}

.search-bar-wrapper.focus {
  @apply shadow shadow-dark-50 light:shadow-gray-300;
}

.search-bar-wrapper:global(.active) {
  display: flex;
}

.bar {
  @apply rounded-lg bg-transparent;

  @apply px-2 py-1 transition-all;
  @apply outline-none;
}

.icon {
  @apply transition-all rounded-sm;
}

.icon.enable {
  @apply bg-light-600 dark:bg-dark-300;
}
